@tailwind base;
@tailwind components;
@tailwind utilities;

.initialized {

    animation: initialized .9s forwards;
}

@keyframes initialized {
    from {
        opacity: 0;
        transform: translate3d(0, 15px, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

